<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking History</title>
</head>
<body>
    <%data.forEach(d=>{%>
        <a href="#">><li><%=d.trainNo%> <%=d.passengerName%> <%=d.date%></li></a>
        <%})%>
</body>
</html>