<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRCTC - Book Train Ticket</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style>
    <header id="navigation">
        <img src="irctc.png " alt="IRCTC Logo" class="irctc-logo">
        <h1>IRCTC - Book Train Ticket</h1>
        <h2>ID : <%=id%></h2>
    </header>
    
    <main style="background-image: url('irctc-special-trains.jpg')">
        <section class="booking-form">
            <h2>Book Train Ticket</h2>
            <form action="/TrainsSearch" method="POST">
                <label for="from">From:</label>
                <input type="text" id="from" name="from" required>

                <label for="to">To:</label>
                <input type="text" id="to" name="to" required>

                <label for="date">Date of Journey:</label>
                <input type="date" id="date" name="date" required>
                <br> 
                <button type="submit">Search Trains</button>
            </form>
        </section>
    </main>
    <script>
        document.getElementById("login-button").addEventListener("click", function() {
            document.getElementById("login-modal").style.display = "block";
        });
    
        document.getElementById("register-button").addEventListener("click", function() {
            document.getElementById("register-modal").style.display = "block";
        });
    
        document.getElementById("login-close-button").addEventListener("click", function() {
            document.getElementById("login-modal").style.display = "none";
        });
    
        document.getElementById("register-close-button").addEventListener("click", function() {
            document.getElementById("register-modal").style.display = "none";
        });
    </script>   
    <footer>
            <div class="footer-content">
                <div class="footer-section">
                    <a href="https://contents.irctc.co.in/en/Awards_And_Achievements.pdf">About Us</a>
                </div>
                <div class="footer-section">
                    <h3>Contact Us</h3>
                    <p>Email: contact@irctc.com</p>
                    <p>Phone: +123-456-7890</p>
                </div>
                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <a href="https://www.facebook.com/irctc" target="_blank">Facebook</a><br>
                    <a href="https://www.linkedin.com/company/irctc" target="_blank">LinkedIn</a><br>
                    <a href="https://www.instagram.com/irctc_official" target="_blank">Instagram</a>
                </div>
            </div>
        <p>&copy; 2023 IRCTC</p>
    </footer> 
</body>
</html>