<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>

    <div class="ss">
        <div id="topbanner">

            <div id="logo">
                <img src="logo.png" alt="">
            </div>
    
    
          <div id="navbar">
            <ul>
                <li><a href="/" class="hover-links ">HOME</a></li>
                <li><a href="#" class="hover-links ">ABOUT</a></li>
                
            </ul>
          </div>
          
         </div>  
    <div class="signup-box" >
    <h1> Login details</h1  >
    <form action="/login" method="POST">
        <label for="">Username</label>
        <input type="text" placeholder="" id="username" name="username">
        <label>Password</label>
        <input type="password" placeholder="" id="pass" name="pass">
        <button type="submit" id="btn">Login</button>
    </form>
    </div>
    </div>

    
</body>
</html>