<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Document</title>
</head>
<body>

    <div id="main">
    
    <div class="ss">

        <div id="topbanner">

            <div id="logo">
                <img src="logo.png" alt="">
            </div>
    
    
          <div id="navbar">
            <ul>
                <li><a href="/" class="hover-links ">HOME</a></li>
                <li><a href="#" class="hover-links ">ABOUT</a></li>
                <li><a href="login" class="hover-links primebtn ">LOGIN</a></li>
               
            </ul>
          </div>
          
         </div>  
    <div class="signup-box">
    <h1>Sign up</h1>
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="text" placeholder="" class="bgg" id="username" name="username">
        <label for="Email">Email</label> 
        <input type="email" placeholder="" class="bgg" id="Email" name="Email">
        <label for="pass">Password</label>
        <input type="password" placeholder="" class="bgg" id="pass" name="pass">
        <button type="submit" id="btn">Submit</button>
    </form>
    </div>
</div>
</div>

    
</body>
</html>