*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px 15px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
#box{
    border-radius: 50px;
    border: 2px solid black;
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.formElement1{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.ele1,.ele2,.ele3{
    padding: 20px;
    margin: 15px;
}
label{
    font-size: 20px;
    font-style: Arial;
    color: blue;
    margin-left: 15px;
    padding: 5px;
}
input{
    border-radius: 30px;
    font-size: 20px;
    padding: 15px;
    width:300px;   
    border: transparent;
    background-color: lightgray;
}
#submit{
    background-color: orange;
    font-size: 25px;
    color: white;
    padding: 10px;
    border-radius: 50px;
    border: none;
}
#submit:hover{
    background-color: white;
    
    color: orange;
}